@font-face {
    font-family: "montserrat";
    src: url();
}

:root {
    --roxo-leadership: #6A10C4;
    --amarelo-leadership: #FFC421;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 350px;
    background-color: var(--amarelo-leadership);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

header .container-grid {
    display: flex;
    align-items: center;
   
}

header img {
    width: 243px;
    height: 199px;
    display: flex;
    justify-content: flex-start;
    margin-right: 300px;
}

header h1 {
    display: flex;
    font-size: 60px;
    font-family: 'Protest Guerrilla';
}

header nav.menu {
    width: 500px;
    height: 30px;

    display: flex;
    justify-content: space-between;
}

nav.menu a {
    font-size: 36px;
    font-family: 'Protest Riot';
    color: black;
}

